@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap&text=0123456789:');

h1 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 16vw;
}

[v-cloak] {
  display: none;
}
